.min-h-100 {
  min-height: 100px;
}

img {
  max-height: 200px;
  min-height: 200px;
  width: auto; /* Mantener proporciones automáticamente */
  object-fit: cover; /* Ajusta la imagen para llenar el espacio sin distorsionarla */
}
